@font-face {
    font-family: 'RocknRoll';
    src: url("../fonts/RocknRollOne-Regular.ttf");
}
@font-face {
    font-family: 'SegoeUi';
    src: url("../fonts/Segoe UI.ttf");
}
@font-face {
    font-family: 'GillSansNova';
    src: url("../fonts/Monotype  - Gill Sans Nova Medium.ttf");
}
@font-face {
    font-family: 'Nirmala';
    src: url("../fonts/Nirmala.ttf");
}

:root {
    --backgound-color: #343434;
    --main-color: #F6E98E;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.btn-custom {
    background-color: #707070;
    border: 1px solid #707070;
    border-radius: 11px;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    transition: all .5s ease;
    padding: .35rem 1.5rem;
    position: relative;
    z-index: 3;
    box-shadow: 6px 7px 6px rgba(0, 0, 0, .16);
    min-width: 120px;
}
.btn-custom:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--backgound-color);
}
.btn-custom:focus {
    box-shadow: none;
}
body {
    background-color: var(--backgound-color);
    color: var(--main-color);
    font-family: 'SegoeUi', sans-serif;
    position: relative;
}
body::-webkit-scrollbar {
    width: 0.5em;
}
body::-webkit-scrollbar-track {
    background-color: var(--backgound-color);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    outline: 1px solid slategrey;
    border-radius: 11px;
}
main {
    overflow: hidden;
}
.heading-1 {
    max-width: 570px;
}
.landing-content .navbar {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000;
    padding: .75rem 0;
}
.landing-content .bg-nav {
    background: var(--backgound-color);
    box-shadow: 2px 2px 26px 10px rgba(0, 0, 0, .3);
}
.landing-content .navbar .navbar-brand {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-family: 'RocknRoll', sans-serif;
    font-size: 1.25rem;
}
.landing-content .navbar .navbar-brand img {
    margin-right: .5rem;
    width: 50px !important;
    height: 50px !important;
}
.landing-content .navbar .navbar-toggler {
    font-size: 1.5rem;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: .5rem;
}
.landing-content .navbar .navbar-toggler:focus {
    border: 2px solid var(--main-color);
    border-radius: .5rem;
    box-shadow: none;
}
.landing-content .navbar .navbar-nav .nav-item {
    margin-right: .5rem;
}
.landing-content .navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
.landing-content .navbar .navbar-nav .nav-item .nav-link {
    color: var(--main-color);
    font-family: 'SegoeUi', sans-serif;
    font-size: 1rem;
    padding: .25rem 1rem;
    border-radius: 11px;
}
.landing-content .navbar .navbar-nav .nav-item .active {
    background-color: var(--main-color);
    border-radius: 11px;
    /*border: 1px solid #707070;*/
    color: var(--backgound-color);
    font-weight: bold;
}
.landing-content section:not(:first-child,.social-media) {
    padding-top: calc(70px + 3rem);
    padding-bottom: 4rem;
}
.landing-content .home {
    position: relative;
    padding: 0 .75rem;
}
.title {
    font-family: 'RocknRoll', sans-serif;
    text-shadow: 8px 11px 10px #1c1f23;
    padding: 0 1rem;
    line-height: 1.5;
    transition: all .5s ease-in-out;
    display: inline-block;
    cursor: pointer;
}
.title:hover {
    /*font-size: calc(1.4rem + 1.5vw)*/
    transform: scale(1.2);
}
.landing-content .home .coins-1 {
    width: 100%;
    height: auto;
    animation: moveUpDown 1.5s linear infinite alternate;
    max-width: 850px;
}
.landing-content .home .vertical-line {
    position: absolute;
    left: 40%;
    bottom: -28%;
    height: 64%;
    z-index: -1;
}
.landing-content .why-cyrus-coin {
    position: relative;
    padding: 0 .75rem;
}
.landing-content .why-cyrus-coin .custom-col {
    position: relative;
}
.landing-content .why-cyrus-coin .background-coin {
    max-width: 80%;
    position: absolute;
    right: 0;
    top: -50%;
    width: 50%;
    z-index: 2;
    height: auto;
}
.landing-content .why-cyrus-coin .text-container {
    background-color: var(--main-color);
    border-radius: 11px;
    padding: 1rem;
    color: var(--backgound-color);
    font-weight: bold;
    /*text-align: justify;*/
    margin: auto;
    position: relative;
}
.landing-content .why-cyrus-coin .text-container .border-cover-2 {
    position: absolute;
    width: 200px;
    height: 50px;
    right: 3%;
    bottom: -13%;
}
.landing-content .why-cyrus-coin .logo-container {
    height: 45px;
    margin: 1.5rem auto 0 !important;
    display: flex;
    align-items: center;
}
.landing-content .why-cyrus-coin .logo-container img {
    height: 80%;
}
.landing-content .why-cyrus-coin .logo-container img:nth-child(2), .landing-content .why-cyrus-coin .logo-container img:last-child {
    margin: 0 .5rem;
}
.landing-content .why-cyrus-coin .logo-container img:nth-last-child(3) {
    height: 100%;
}
.landing-content .why-cyrus-coin .horizontal-line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 21%;
    z-index: -1;
}
.landing-content .why-cyrus-coin .dot {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 6px;
}
.landing-content .projects {
    padding: 0 .75rem;
}
.landing-content .projects .projects-container {
    background-color: var(--main-color);
    border-radius: 11px;
    padding: 4rem 1.5rem;
    position: relative;
    /*z-index: 3;*/
}
.landing-content .projects .projects-container .project-container {
    background-color: var(--backgound-color);
    padding: 1rem;
    border-radius: 11px;
    height: 100%;
    margin: 1rem 0;
    position: relative;
    z-index: 3;
}
.landing-content .projects .projects-container .project-container h5 {
    font-family: 'RocknRoll', sans-serif;
}
.landing-content .projects .projects-container .project-container p {
    font-family: 'GillSansNova', sans-serif;
    /*text-align: justify;*/
    font-size: .9rem;
    hyphens: auto;
}
.landing-content .projects .border-cover-1 {
    position: absolute;
    left: -6%;
    top: -7%;
    /*bottom: 90%;*/
    width: 300px;
    height: 70px;
}
.landing-content .projects .border-cover-2 {
    position: absolute;
    bottom: -9.5%;
    /*top: 90%;*/
    right: 3%;
    width: 300px;
    height: 70px;
    z-index: 1;
}
.horizontal-dots {
    transform: rotate(90deg);
}
.landing-content .staking {
    padding: 0 .75rem;
}
.landing-content .staking .staking-img {
    width: 100% !important;
    height: auto;
    animation: moveUpDown 1.5s linear infinite alternate;
}
.landing-content .staking .staking-info {
    position: relative;
    z-index: 3;
}
.landing-content .staking .staking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.landing-content .staking .staking-content .contents {
    width: 75%;
}
.landing-content .staking .staking-content .coin {
    width: 35%;
}
.landing-content .staking .staking-content .icons {
    background-color: var(--main-color);
    border-radius: 50%;
    /*padding: 1rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    box-shadow: 8px 9px 6px rgba(0, 0, 0, .2);
    margin: .5rem;
}
.landing-content .staking .staking-content .icons img {
    width: 45px;
}
.landing-content .staking .staking-content .label {
    font-size: .9rem;
    background-color: #615C5C;
    border-radius: 36px;
    padding: .5rem 1rem;
    width: 50%;
    text-align: center;
    /*min-width: 14rem;*/
    /*max-width: 14rem;*/
    /*max-height: 45px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-content .staking .staking-content .side-label-1 {
    position: absolute;
    left: 5%;
    /*top: calc(50% - 75px);*/
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    width: 30%;
}
.landing-content .staking .staking-content .side-label-2 {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%) rotate(-270deg);
    width: 30%;
}
.landing-content .staking .logo-container {
    display: flex;
    align-items: center;
}
.landing-content .staking .logo-container img {
    width: 40px;
}
.landing-content .staking .logo-container span {
    font-size: .75rem;
    font-weight: bold;
    text-align: center;
}
.landing-content .supports {
    padding: 0 .75rem;
    position: relative;
}
.landing-content .supports .background-coin {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .04;
    transform: rotate(180deg);
    width: 50%;
    z-index: -1;
}
.landing-content .supports .logos {
    display: flex;
    align-items: center;
}
.landing-content .supports .logos img {
    filter: grayscale(100%);
    margin: 1.5rem 0;
}
.landing-content .social-media {
    padding: 0 .75rem;
    margin-bottom: 7rem;
}
.landing-content .social-media .media {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}
.landing-content .social-media .media .social-link {
    width: 50%;
    display: flex;
    align-items: center;
}
.landing-content .social-media .media img {
    width: 100%;
    margin-left: .5rem;
    transition: all .15s ease-in;
}
.landing-content .social-media .media:hover img {
    transform: scale(1.5);
}
.landing-content .social-media .media span {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .3;
    display: inline-block;
}
.instagram {
    color: #C53B6F;
}
.twitter {
    color: #63879D;
}
.discord {
    color: #2C749F;
}
.telegram, .linkedin {
    color: #78D6FF;
}
.reddit {
    color: #9E593F;
}
.media:hover span {
    visibility: hidden;
}
.landing-content .faq-wrapper {
    padding: 0 .75rem;
}
.landing-content .faq-wrapper .faq-labels {
    display: inline-block;
}
.landing-content .faq-wrapper .text-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.landing-content .faq-wrapper .text-wrapper .letter {
    font-size: 3rem;
    /*padding-right: 1rem;*/
    display: inline-block;
    margin-bottom: -.5rem;
    text-shadow: 8px 11px 10px #1c1f23;
}
.landing-content .faq-wrapper .text-wrapper .word {
    padding-left: 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    text-shadow: 8px 11px 10px #1c1f23;
}
.landing-content .faq-wrapper .text-wrapper:hover {
    transform: scale(1.2);
}
.landing-content .faq-wrapper .faq {
    margin-bottom: 1.5rem;
}
.landing-content .faq-wrapper .faq details[open] {
    outline: none !important;
}
.landing-content .faq-wrapper .faq details[open] summary {
    border-color: #FF4500;
}
details[open] summary ~ * {
    animation: sweep 1s linear;
}
details summary ~ * {
    animation: sweep .5s ease-in-out;
}
.landing-content .faq-wrapper .faq summary {
    /*display: flex;
    align-items: center;
    justify-content: space-between;*/
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .2);
    font-size: 1.25rem;
    background: var(--backgound-color);
    position: relative;
    z-index: 2;
    list-style: none !important;
}
.landing-content .faq-wrapper .faq summary i {
    font-size: 1.5rem;
    margin-left: .5rem;
}
.landing-content .faq-wrapper .faq summary::marker {
    /*display: none;*/
}
.landing-content .faq-wrapper .faq .desc {
    margin: -.25rem 1rem;
    background-color: var(--main-color);
    color: var(--backgound-color);
    border-radius: .5rem;
    padding: .25rem 1rem;
    transition: all 1s ease-in-out;
    font-size: 1.25rem;
    position: relative;
    z-index: 1;
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {
        opacity: 0; transform: translate3d(0,-5px,0)
    }
    50%   {
        opacity: .5;
    }
    100%  {
        opacity: 1; transform: translateZ(0)
    }
}
.landing-content .contact {
    padding-right: .75rem;
    padding-left: .75rem;
    /*padding-bottom: 15%;*/
    margin-bottom: 5rem;
}
.landing-content .contact .contact-desc {
    font-family: 'Nirmala', sans-serif;
    padding: 0 1rem;
    font-size: .875rem;
    font-weight: bold;
}
.landing-content .contact .form-container {
    background-color: #707070;
    border-radius: 11px;
    padding: 2rem;
    position: relative;
    margin: 0 1rem;
}
.landing-content .contact .form-container .form-control {
    background-color: var(--main-color);
    border-radius: 11px;
    border: 2px solid var(--main-color);
}
.landing-content .contact .form-container .form-control:focus {
    box-shadow: none;
    border: 2px solid var(--backgound-color);
    outline: none;
}
.landing-content .contact .form-container .form-control::placeholder {
    color: #6B6B6B;
    font-size: 12px;
}
.landing-content .contact .form-container .submit-btn {
    background-color: var(--main-color);
    border-radius: 35px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'RocknRoll', sans-serif;
    color: var(--backgound-color);
    position: absolute;
    bottom: -15px;
    right: -.5rem;
    min-width: 100px;
}
.landing-content .contact .form-container .submit-btn:focus {
    box-shadow: none;
}
.footer {
    background-color: var(--main-color);
    border-radius: 3rem 3rem 0 0;
    padding: 0 .75rem;
    position: relative;
    color: var(--backgound-color);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Nirmala', sans-serif;
}
.footer a {
    color: var(--backgound-color);
}
.footer i {
    font-size: 1.5rem;
    margin-right: .5rem;
}
.footer .img-container-1 {
    background-color: #707070;
    border-top-left-radius: 3rem;
    width: 4%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .img-container-2 {
    background-color: #707070;
    width: 4%;
    border-top-right-radius: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img {
    width: 30px;
    height: 30px;
}
.footer .img-container-2 img {
    padding: .5rem .5rem .25rem .1rem;
}
.footer .img-container-1 .whatsapp {
    padding: .5rem 0 .25rem .25rem;
    margin: 0 0 0 .25rem !important;
    color: var(--main-color);
}

.landing-content .trade .trade-img {
    /*width: 75%;*/
    animation: blink 1.5s linear infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes blink {
    0% {
        opacity: .5;
    }
    50% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 780px) {
    .landing-content .home .horizontal-line {
        left: 40%;
        bottom: -28%;
    }
}
@media (min-width: 780px) and (max-width: 992px) {
    .landing-content .home .horizontal-line {
        left: 40%;
        bottom: -20%;
    }
}
@media (min-width: 576px) {
    .landing-content .supports .logos .center-md-img {
        margin-left: calc(33.33% / 2);
    }
}
@media (min-width: 768px) {
    .landing-content .staking .staking-info {
        /*padding-left: 8rem;*/
    }
    .landing-content .supports .logos .center-md-img {
        margin-left: calc(50% / 2);
    }
}
@media (min-width: 992px) {
    .landing-content .why-cyrus-coin .text-container, .landing-content .why-cyrus-coin .logo-container {
        max-width: 60%;
    }
    .landing-content .navbar {
        height: 70px;
    }
}
@media (min-width: 992px) and (max-width: 1150px) {
    .landing-content .home .vertical-line {
        height: 60.5% !important;
        bottom: -29% !important;
    }
    .landing-content .navbar .navbar-nav .nav-item .nav-link {
        font-size: .75rem !important;
    }
}
@media (min-width: 1150px) and (max-width: 1300px) {
    .landing-content .home .vertical-line {
        height: 57% !important;
    }
}
@media (min-width: 1300px) {
    .why-cyrus-coin .border-cover-2 {
        bottom: -15% !important;
    }
    .project-title {
        max-width: 315px !important;
    }
}
@media (min-width: 1433px) {
    .vertical-line {
        height: 61% !important;
        bottom: -22% !important;
    }
}
@media (min-width: 1850px) {
    h1 {
        font-size: 3.25rem !important;
        max-width: 630px !important;
    }
    .title {
        font-size: 4rem !important;
    }
    h5 {
        font-size: 2.25rem;
    }
    .navbar {
        height: auto !important;
        padding: 1rem 0 !important;
    }
    .navbar .nav-item {
        margin-right: 1rem !important;
        padding: .25rem 1rem !important;
    }
    .navbar .nav-link {
        font-size: 2rem !important;
    }
    .navbar-brand {
        font-size: 1.5rem !important;
    }
    .landing-content section:not(:first-child) {
        padding-top: calc(150px + 6rem) !important;
        padding-bottom: 4rem;
    }
    .btn-custom {
        font-size: 2rem;
        padding: 1rem 3rem !important;
    }
    .dot {
        width: auto !important;
    }
    .vertical-line {
        height: 70% !important;
        bottom: -35% !important;
    }
    .text-container {
        min-height: 300px;
        font-size: 2rem;
    }
    .text-container .border-cover-2 {
        bottom: -6% !important;
    }
    .projects-container {
        min-height: 500px;
    }
    .projects-container .project-container p {
        font-size: 2rem !important;
    }
    .projects-container .border-cover-2 {
        bottom: -4.5% !important;
    }
    .projects-container .border-cover-1 {
        top: -4.5% !important;
        left: 0;
    }
    .staking .label {
        padding: 1rem !important;
        width: 55% !important;
    }
    .staking .side-label-1 {
        left: 4% !important;
    }
    .staking .side-label-2 {
        right: 4% !important;
    }
    .staking .side-label-1, .staking .side-label-2 {
        width: 30% !important;
    }
    .staking .label span {
        font-size: 2rem !important;
    }
    .staking .icons {
        width: 120px !important;
        height: 120px !important;
    }
    .staking .icons img {
        width: 75px !important;
    }
    .contact-desc {
        font-size: 2rem !important;
    }
    .footer {
        font-size: 2rem !important;
    }
    .img-container-1 img, .img-container-2 img {
        width: 45px !important;
        height: 45px !important;
    }
    .footer .img-container-1 .whatsapp {
        font-size: 2.75rem;
    }
    .form-container {
        min-height: 400px;
    }
    .form-container input, .form-container textarea {
        padding: 1rem;
    }
    .form-container textarea {
        min-height: 250px;
        margin-bottom: 2rem !important;
    }
    .form-container .form-control::placeholder {
        font-size: 1.5rem !important;
    }
    .form-container .submit-btn {
        font-size: 2rem !important;
        padding: 2rem !important;
    }
    .supports .logos {
        max-width: 80% !important;
        margin-top: 4rem !important;
    }
    .project-title {
        max-width: 415px !important;
    }
    .landing-content .staking .logo-container {
        /*width: 50% !important;*/
        justify-content: space-between !important;
    }
    .landing-content .staking .logo-container img {
        width: 75px !important;
        height: 75px !important;
    }
    .landing-content .staking .logo-container span {
        font-size: 1.5rem;
    }
    .landing-content .social-media .media span {
        font-size: 2rem !important;
    }
    .landing-content .faq-wrapper .text-wrapper .letter {
        font-size: 3.75rem;
    }
    .landing-content .faq-wrapper .text-wrapper .word {
        font-size: 1.75rem;
    }
    .landing-content .faq-wrapper .faq summary, .landing-content .faq-wrapper .faq .desc {
        font-size: 2rem;
        padding: .75rem 1rem;
    }
    .landing-content .faq-wrapper .faq summary i {
        font-size: 2.5rem;
    }
}
@media (min-width: 2100px) {
    .navbar-brand {
        font-size: 2.5rem !important;
    }
    /*.navbar-brand img {
        width: 70px !important;
    }*/
}
@media (min-width: 1850px) and (max-width: 2200px) {
    .landing-content .navbar .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem !important;
    }
}
@media (min-width: 2275px) {
    .vertical-line {
        height: 77% !important;
        bottom: -45% !important;
    }
    .dots {
        width: 25% !important;
    }
}
@media (max-width: 1300px) {
    .why-cyrus-coin .border-cover-2 {
        bottom: -10% !important;
    }
}
@media (max-width: 992px) {
    .landing-content .navbar {
        margin-bottom: 4rem;
    }
    .landing-content .navbar .navbar-nav .nav-item {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .landing-content .home .title {
        text-align: center;
    }
    .landing-content .staking .staking-content .contents {
        width: 100%;
    }
    .landing-content .staking .staking-content .side-label-1 {
        left: -8%;
        /*top: 50%;*/
    }
    .landing-content .staking .staking-content .side-label-2 {
        right: -9%;
        /*top: 50%;*/
    }
    .landing-content .staking .staking-content .side-label-1, .landing-content .staking .staking-content .side-label-2 {
        /*width: 35%;*/
        /*max-height: 40px;*/
    }
    .landing-content .contact .form-container .submit-btn {
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .why-cyrus-coin .border-cover-2 {
        bottom: -13% !important;
    }
    .border-cover-1 {
        top: -4.5% !important;
    }
    .projects .border-cover-2 {
        bottom: -5% !important;
    }
    .landing-content .faq-wrapper .faq-labels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .landing-content .projects .title {
        margin: 0 0 1.5rem 0 !important;
    }
    .landing-content .projects .horizontal-dots {
        display: none;
    }
    .landing-content .staking .staking-content .label {
        /*width: 65%;*/
    }
}
@media (max-width: 576px) {
    .landing-content .staking .staking-content .side-label-1, .landing-content .staking .staking-content .side-label-2 {
        width: 30%;
        right: -6%;
    }
    .landing-content .supports .logos .img-1, .landing-content .supports .logos .img-2 {
        width: 45% !important;
    }
    .landing-content .supports .logos .img-3 {
        width: 35% !important;
    }
    .landing-content .staking .staking-content .side-label-1 {
        left: -6%;
        /*top: 50%;*/
    }
    .landing-content .faq-wrapper .faq summary, .landing-content .faq-wrapper .faq .desc {
        font-size: .9rem;
    }
}
@media (max-width: 400px) {
    .landing-content .faq-wrapper .text-wrapper .word {
        padding-left: .5rem;
    }
}
